{% extends 'chatroom/base_chat.html' %}
{% load static %}

{% block title %}
  Direct Chat
{% endblock title %}

{% block chat_layout %}
  <!-- Chat -->
  {% include 'chatroom/direct_chat.html' %}
  <!-- Chat -->
{% endblock chat_layout%}

{% block extra_js %}
<script>
    const receiver_id = "{{obj.pk}}";
    const userEmail = "{{ request.user.email|escapejs }}";  
    var userProfileUrl = "{{ user_profile_url }}";
    var receiverProfileUrl = "{{ receiver_profile_url }}";
    const CURRENT_USER_ID = "{{ request.user.pk }}"; 
    const ROOM = "{{room.id}}";
</script>
  <script src="{% static 'chat/direct_chat.js' %}"></script>
{% endblock extra_js %}
