{% load static i18n chat_filters humanize %}
<div class="card-list">
  <!-- Card -->
  {% if requests %}
  {% for req in requests %}
    <div class="card border-0 mb-5">
      <div class="card-body">
        <div class="row gx-5">
          <div class="col-auto">
            <!-- Avatar -->
            <a href="#" class="avatar">
              <img class="avatar-img" src="
              {% if req.me.profile.avatar %} {{ req.me.profile.avatar.url }} {% else %} {% static 'assets/img/avatars/avatar.png' %}{% endif %}" alt="{{req.me.profile.name}}" />
              <div class="badge badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
            </a>
          </div>

          <div class="col">
            <div class="d-flex align-items-center mb-2">
              <h5 class="me-auto mb-0"><a href="#">{{req.me.profile.name}}</a></h5>
              <span class="extra-small text-muted ms-2">{{req.created_at|naturaltime}}</span>
            </div>

            <div class="d-flex">
              <div class="me-auto">{% trans "Sent you a friend request." %}</div>

              <div class="dropdown ms-5">
                <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                  </svg>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">Show less often</a>
                  </li>
                  <li>
                    <button class="dropdown-item update-friend-status" href="#">Hide</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row gx-4">
          <div class="col">
            <button class="btn btn-sm btn-soft-primary w-100 update-friend-status" data-request-id="{{req.pk}}" data-status="hidden">Hide</button>
          </div>
          <div class="col">
            <button class="btn btn-sm btn-primary w-100 update-friend-status" data-request-id="{{req.pk}}" data-status="accepted">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% else %}
  <div class="alert bg-warning text-white">
  {% trans " No Friend Request Found." %}
  </div>
  {% endif %}
  <!-- Card -->
</div>