<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Welcome to Talk Acharya" %}</title>
</head>
<body>
    <h2>Hello {{ user.profile.name }},</h2>
    <p>{% trans "Welcome to Acharya Jii." %}</p>
    <b>{% trans "Please activate your account by clicking the link below." %}</b>
    <br>
    <a href="{{ site.domain }}{% url 'customauth:account_activation' user.email_token %}">{% trans "Activate Account" %}</a>
    <br>
    <p>{% trans "Thanks" %}</p>
</body>
</html>